.main-screen{
    display: flex;
    color: white;
    font-size: 26px;
    font-weight: bold;
    height: calc(100vh - 88px);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}